<div class="mt-5 container">
    <div class="row justify-items-center">
        <div class="col text-center">
            <h1>Error 404</h1>
            <p class="lead">Oops! It appears this page does not exists.</p>
            <a class="btn btn-primary" asp-action="Index">Go back to Index</a>
        </div>
    </div>
</div>