@model PersonalBlog.Models.ArticleFormViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
            <a class="btn btn-outline-secondary mb-4 d-inline-block" asp-action="Index">← Back</a>

            <h1 class="mb-4">New Article</h1>

            <div class="border p-4 rounded">
                <div class="row">
                    <span class="text-danger text-center">@Model.Message</span>
                </div>

                <form method="post" asp-action="Create">
                    <div class="mb-3">
                        <label class="form-label" asp-for="Article.Id"></label>
                        <input class="form-control" asp-for="Article.Id">
                        <span class="small text-danger" asp-validation-for="Article.Id"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Article.Title"></label>
                        <input class="form-control" asp-for="Article.Title">
                        <span class="small text-danger" asp-validation-for="Article.Title"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Article.Summary"></label>
                        <span class="small text-body-tertiary">(Optional)</span>
                        <textarea rows="3" class="form-control" style="resize: none"
                                  asp-for="Article.Summary"></textarea>
                        <span class="small text-danger" asp-validation-for="Article.Summary"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Article.TagsString"></label>
                        <span class="small text-body-tertiary">(Comma Separated) (Optional)</span>
                        <input class="form-control" asp-for="Article.TagsString">
                        <span class="small text-danger" asp-validation-for="Article.TagsString"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Article.Content"></label>
                        <br>
                        <span class="small text-body-tertiary">In Markdown format. Do not put the title here.</span>
                        <textarea rows="20" class="form-control" style="resize: none"
                                  asp-for="Article.Content"></textarea>
                        <span class="small text-danger" asp-validation-for="Article.Content"></span>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Create</button>
                        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>