@model Article

<div class="container">
    <a class="link-secondary" asp-action="Index">Go Back</a>
    <h1 class="mb-4 mt-3">Delete Article</h1>
    
    <dl>
        <dt>@Html.DisplayNameFor(m => m.Title)</dt>
        <dd>@Model.Title</dd>
        
        <dt>@Html.DisplayNameFor(m => m.PublishDate)</dt>
        <dd>@Html.DisplayFor(m => m.PublishDate)</dd>
    </dl>

    <form method="post" asp-action="Delete">
        <input type="hidden" asp-for="Id">

        <div class="mb-3">
            <button class="btn btn-lg btn-danger" type="submit">Delete</button>
            <a class="btn btn-lg btn-secondary" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>

