@model PersonalBlog.Models.Article
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <a class="btn btn-outline-secondary mb-4 d-inline-block" asp-action="Index">← Back</a>

    <h1 class="mb-4 mt-3">Update Article</h1>

    <form method="post" asp-action="Edit">
        <input type="hidden" asp-for="Id">
        <input type="hidden" asp-for="PublishDate">
        
        <div class="mb-3">
            <label class="form-label" asp-for="Title"></label>
            <input class="form-control" asp-for="Title">
        </div>
        
        <div class="mb-3">
            <label class="form-label" asp-for="Summary"></label>
            <textarea rows="3" class="form-control" style="resize: none" asp-for="Summary"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Content"></label>
            <textarea rows="20" class="form-control" style="resize: none" asp-for="Content"></textarea>
        </div>

        <div class="mb-3">
            <button class="btn btn-lg btn-primary" type="submit">Update</button>
        </div>
    </form>
</div>

