@model PersonalBlog.Models.Article
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
            <a class="btn btn-outline-secondary mb-4 d-inline-block" asp-action="Index">← Back</a>

            <h1 class="mb-4">Update Article</h1>

            <div class="border p-4 rounded">
                <form method="post" asp-action="Edit">
                    <input type="hidden" asp-for="Id">
                    <input type="hidden" asp-for="PublishDate">

                    <div class="mb-3">
                        <label class="form-label" asp-for="Title"></label>
                        <input class="form-control" asp-for="Title">
                        <span class="small text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Summary"></label>
                        <span class="small text-body-tertiary">(Optional)</span>
                        <textarea rows="3" class="form-control" style="resize: none" asp-for="Summary"></textarea>
                        <span class="small text-danger" asp-validation-for="Summary"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="TagsString"></label>
                        <span class="small text-body-tertiary">(Comma Separated) (Optional)</span>
                        <input class="form-control" asp-for="TagsString">
                        <span class="small text-danger" asp-validation-for="TagsString"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Content"></label>
                        <br>
                        <span class="small text-body-tertiary">In Markdown format. Do not put the title here.</span>
                        <textarea rows="20" class="form-control" style="resize: none" asp-for="Content"></textarea>
                        <span class="small text-danger" asp-validation-for="Content"></span>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">Update</button>
                        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

