@using System.Text
@using System.Text.RegularExpressions
@model PersonalBlog.Models.ArticleFilterViewModel
@{
    ViewData["Title"] = "Home";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10">
            <h1 class="text-center display-4 mb-4">My Blog</h1>
            <hr class="mb-4">

            <form class="mb-4" method="get" asp-action="Index">
                <div class="input-group mb-3">
                    <input class="form-control" placeholder="Search" asp-for="SearchString">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </form>

            <div class="mb-3">
                @if (!string.IsNullOrWhiteSpace(Model.SearchString))
                {
                    <a class="link-underline-secondary link-secondary" asp-action="Index">Clear search</a>
                }
            </div>

            <div class="row g-3">
                @foreach (var article in Model.Articles)
                {
                    <article class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <a class="fs-5 lh-sm d-inline-block mb-3 card-title" asp-route-id="@article.Id"
                                   asp-action="Article">@article.Title</a>
                                <h6 class="card-subtitle small mb-2 text-body-secondary">
                                    Published on @Html.DisplayFor(m => article.PublishDate)
                                </h6>
                                @if (article.Summary != null)
                                {
                                    <p class="card-text">
                                        @article.Summary
                                    </p>
                                }
                            </div>
                        </div>
                    </article>
                }
            </div>
        </div>
    </div>
</div>