@model PersonalBlog.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

@section Header {
    <header class="pt-4">
        <div class="container-fluid justify-content-center d-flex">
            <a class="h3 link-dark text-decoration-none" asp-controller="Home" asp-action="Index">PersonalBlog</a>
        </div>
    </header>
}

<div class="container pt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4">
            <a class="btn btn-outline-secondary mb-4 d-inline-block" asp-controller="Home" asp-action="Index">← Back</a>
            <div class="border rounded-3 p-4">
                <h2 class="text-center text-md-start mb-4">Sign In</h2>
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label" asp-for="User.Username"></label>
                        <input class="form-control" asp-for="User.Username">
                        <span class="text-danger small" asp-validation-for="User.Username"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="User.Password"></label>
                        <input class="form-control" asp-for="User.Password">
                        <span class="text-danger small" asp-validation-for="User.Password"></span>
                    </div>

                    <button class="btn btn-primary my-3 w-100" type="submit">Sign In</button>
                </form>
            </div>

            <span class="text-danger">@Model.Message</span>
        </div>
    </div>
</div>

